<a href="https://colab.research.google.com/github/choi-yh/DataStructure/blob/master/6_2_HashTable_price.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
class Node:
    def __init__(self, key=None, value=None):
        self.key = key
        self.value = value
        self.link = None

class LinkedList:
    def __init__(self):
        self.root = Node()
        self.cnt = 0

    def append(self, key, value):
        newNode = Node(key, value)
        curNode = self.root
        if curNode.key == None:
            self.root = newNode
            self.cnt += 1
        else:
            while curNode.link != None:
                self.cnt += 1
                curNode = curNode.link
            curNode.link = newNode
        return self.cnt
    
    def get(self, key):
        cnt = 0
        curNode = self.root
        if curNode.key == key:
            return curNode.value, cnt
        else:
            while curNode.link != None:
                curNode = curNode.link
                cnt += 1
                if curNode.key == key:
                    return curNode.value, cnt
            return None

In [0]:
class ChainHash:
    def __init__(self, k):
        # 데이터 수의 3배를 기준으로 소수 리턴
        self.m = self._getPrime(3 * k)
        self.h = [None] * self.m

    def _getPrime(self, n):
        # 1 ~ n 사이의 소수를 구하고 가장 큰 두 개의 소수를 리턴한다.
        import numpy as np
        is_prime = np.array(list(range(n+1)))
        N_max = int(np.sqrt(len(is_prime) - 1)) # looping 2 to sqrt(n)

        for j in range(2, N_max + 1):
            is_prime[2*j::j] = 0
        is_prime = np.setdiff1d(is_prime, np.array([0, 1])) # Find the set difference of two arrays.
        return is_prime[-1]

    def insert(self, key, item):
        idx = key % self.m
        if self.h[idx] == None:
            self.h[idx] = LinkedList()
            self.h[idx].append(key, item)
        else:
            print(key, '충돌')
            curNode = self.h[idx].root
            while curNode.link != None:
                curNode = curNode.link
            curNode.link = Node(key, item)

    def get(self, key):
        idx = key % self.m
        xList = self.h[idx]
        return xList.get(key)

In [3]:
from google.colab import drive
drive.mount('/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /gdrive

In [5]:
!cat /gdrive/My\ Drive/Python/DataStructure/data/price.csv

칠성사이다(Pet)(1.5ℓ)-롯데, 1880
코카콜라(Pet)(1.5ℓ)-코카콜라, 2480
펩시콜라(Pet)(1.5ℓ)-펩시, 2180
포카리스웨트(Pet)(1.5ℓ)-포카, 1980
게토레이(Pet)(1.5ℓ)-게토, 2580
환타(Pet)(1.5ℓ)-환타, 2180
2%복숭아(Pet)(1.5ℓ)-2%, 1680
아이시스(2.0ℓ)-아이시스, 630
삼다수(2.0ℓ)-삼다수, 980
처음처렁 병소주(360㎖)-처음처럼, 1190
참이슬 병소주(360㎖)-참이슬, 1190
카스캔맥주(355㎖)-카스, 1370
카스병맥주(500㎖)-카스, 1410
불가리스(사과)(150g x4)-불가리스, 4980
서울우유(1.0ℓ)-서울우유, 2570
아인슈타인(900㎖)-남양, 2850
신라면(봉지)(120g)-농심, 676
삼양라면(봉지)(120g)-삼양, 656
진라면(봉지)(120g)-오뚜기, 550
안성탕면(봉지)(125g)-농심, 494
신라면 큰사발(114g)-농심, 950
짜파게티(봉지)(125g)-농심, 770
동원참치 살코기(150g)-동원, 2560
오뚜기참치 살코기(150g)-오뚜기, 2600
골드 고소한 마요네즈(500g), 3780
청정원고소한마요네즈(500g), 3965
오뚜기 케찹(500g)-오뚜기, 2180
옛날당면(500g)-옛날 당면, 5055
옛날국수(소면)(900g)-옛날국수, 1980
청정원돼지갈비양념(560g)-청정원, 3280
청정원소갈비양념(560g)-청정원, 3280
백설돼지갈비양념(480g)-백설, 3400
백설소갈비양념(480g)-백설, 3400
백설밀가루(중력분)(1kg)-백설, 1780
곰표밀가루(중력)(1kg)-곰표, 1280
백설옥수수유(1.8ℓ)-백설, 4980
오뚜기고소한참기름(병)(320㎖)-오뚜기, 7250
청정원사과식초(500㎖)-청정원, 1250
오뚜기사과식초(500㎖)-오뚜기, 1150
백설하얀설탕(1kg)-백설, 1680
청정원햇살담은진간장(930mℓ)-청정원, 4985
샘표진간장금F-3(930㎖)-샘표, 5480
순창찰고추장(500g)-순창, 8300
순창쌈장(500g)-순창, 3900
해찬들태양초고추장(500g)-해찬들, 8500
해찬들사계절쌈장(500g)-해찬들, 3900
미원맛소금(500g)-미원, 1440
백설맛소금(500g)-백설, 4050
버섯감치미(300g)-버섯감치미, 4600
미원(500g)-미원, 7650
옛날물엿(1.2kg)-옛날물엿, 3250
백설요리당(1.2kg)-백설, 3250
애경트리오(1kg)-애경, 5690
LG자연퐁(1kg)-LG, 11800
페브리지(리필)(320㎖)-페브리지 플러스 리필, 4900
드봉(4EA)-드봉(비누), 3450
오이(4EA)-오이(비누), 4250
도브(4EA)-도브(비누), 6350

In [7]:
import csv

with open('/gdrive/My Drive/Python/DataStructure/data/price.csv', 'r') as f:
    reader = csv.reader(f)
    prices = list(reader)

len(prices)

58

In [8]:
s = 'The quick brown fox jumps over the lazy dog.'.encode('utf-8')
s1 = s.hex()
s2 = int(s1,16)
s2

3024830571690175283291907639196436031967763819210983988162282536502237781693262640684650930677706176554798

In [9]:
def str2int(x):
    x = x.encode('utf-8')
    _x = x.hex()
    return int(_x,16)

str2int("칠성사이다(Pet)(1.5ℓ)-롯데")

1796400432081435316474551643708220549524396647996648748699494543518233003060827491760

In [11]:
h = ChainHash(len(prices))
for price in prices:
    h.insert(str2int(price[0]), price[1])

117711596824963718725609513901202180359825121613189962127099920623409418718344809676573356 충돌
27402746573365250027311011804803522014880720641814578354952221844196906956000172 충돌
505366557958173239860737621184768286996728096664031840517498364020821702792149828568073029508839600 충돌
1781047327860417989109367406068594176928077286478511713743739152601913524237353456028 충돌
7711281707125446164867210995894284277331940051155914023505977975541610531394509177626668218544 충돌
5255982698153804804984763472694215965577878416 충돌
378531325157180988205964751119543710391291062680015807814599721 충돌

In [12]:
for price in prices:
    print(h.get(str2int(price[0])))

(' 1880 ', 0)
(' 2480 ', 0)
(' 2180 ', 0)
(' 1980 ', 0)
(' 2580 ', 0)
(' 2180 ', 0)
(' 1680 ', 0)
(' 630 ', 0)
(' 980 ', 0)
(' 1190 ', 0)
(' 1190 ', 1)
(' 1370 ', 0)
(' 1410 ', 0)
(' 4980 ', 0)
(' 2570 ', 0)
(' 2850 ', 0)
(' 676 ', 0)
(' 656 ', 0)
(' 550 ', 0)
(' 494 ', 0)
(' 950 ', 0)
(' 770 ', 1)
(' 2560 ', 0)
(' 2600 ', 1)
(' 3780 ', 0)
(' 3965 ', 0)
(' 2180 ', 0)
(' 5055 ', 0)
(' 1980 ', 0)
(' 3280 ', 0)
(' 3280 ', 0)
(' 3400 ', 0)
(' 3400 ', 0)
(' 1780 ', 0)
(' 1280 ', 2)
(' 4980 ', 0)
(' 7250 ', 0)
(' 1250 ', 0)
(' 1150 ', 1)
(' 1680 ', 0)
(' 4985 ', 0)
(' 5480 ', 0)
(' 8300 ', 0)
(' 3900 ', 0)
(' 8500 ', 0)
(' 3900 ', 0)
(' 1440 ', 0)
(' 4050 ', 0)
(' 4600 ', 0)
(' 7650 ', 1)
(' 3250 ', 0)
(' 3250 ', 0)
(' 5690 ', 0)
(' 11800 ', 0)
(' 4900 ', 0)
(' 3450 ', 0)
(' 4250 ', 0)
(' 6350 ', 2)